.containerForm {
    max-width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.containerForm form {
    margin-right: 20px;
}

.containerForm form input {
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: rgb(82, 82, 153);
    margin-bottom: 8px;
    padding-left: 15px;
}

.containerForm form button {
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: rgb(82, 82, 153);
    margin-left: 10px;
    color: white;
}

@media screen and (max-width: 900px) and (min-width: 250px) {
    .containerForm {
        margin-bottom: 15px;
    }
    .containerForm form {
        margin-right: -10px;
        padding: 20px;
    }
    .containerForm form input {
        max-width: 350px;
        height: 45px;
        display: block;
        margin-right: 60px;
        float: left;
    }
    .containerForm form button {
        display: none;
    }
}